Options All +Indexes

#Protect the .htaccess
<files .htaccess="">
order allow,deny
deny from all
</files>

<IfModule mod_rewrite.c>
 
    RewriteEngine on
     
    RewriteCond %{REQUEST_FILENAME} !-d
     
    RewriteCond %{REQUEST_FILENAME}.php -f
     
    RewriteRule ^(.*)$ $1.php
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php/$1 [L]
</IfModule>